
.ActivityCarousel img {
    width: 100%;
    height: calc(35vh);
    object-fit: cover;
}

.ActivityCarousel .text {
    overflow: scroll;
    max-height: calc(40vh);
}

.ActivityCarousel h1 {
    font-size: 22px;
    margin: 10px 20px 5px;
}

.ActivityCarousel p {
    font-size: 14px;
    margin: 10px 50px 0;
    font-weight: 200;
    text-align: justify;
}

.ActivityVideo {
    width: 100%;
    height: calc(35vh);
    object-fit: cover;
}

@media screen and (max-height: 568px) {
    .ActivityCarousel img {
        height: calc(35vh);
    }

    .ActivityCarousel .text {
        overflow: scroll;
        max-height: calc(40vh);
    }

    .ActivityCarousel h1 {
        font-size: 19px;
    }

    .ActivityCarousel p {
        font-size: 13px;
        margin: 10px 40px 0;
    }

    .ActivityCarousel .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
        position: relative;
        z-index: 9;
        bottom: 50px;
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: #F19820 !important;
    top: 70% !important;
}

.swiper-button-prev {
    left: 5px !important;
}

.swiper-button-next {
    right: 5px !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #F19820 !important;
}

@media screen and (max-height: 568px) {
    .swiper-button-prev,
    .swiper-button-next {
        transform: scale(0.7);
    }
}