.SplashScreen {
  background-color: #CAE8FF;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SplashScreen img {
  height: 150px;
}

.SplashScreen p {
  color: #F86833;
}