.Spark {
	margin: calc(-50vh) 0;
	padding: 0;
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .Spark {
		margin: unset;
	}
}

@-moz-document url-prefix() {
	.Spark {
		margin: calc(-50vh) 0;;
	}
  }