.ActivityBubble {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.ActivityBubble .ActivityThumbnail {
	display: block;
	margin: 15px auto 0;
	border-radius: 50%;
	overflow: hidden;
	width: 80px;
	height: 80px;
	background-size: cover;
}

.ActivityBubble h1 {
	font-size: 14px;
	color: white;
	margin: 12.5px auto;
    width: 80%;
    mix-blend-mode: difference;
    filter: drop-shadow(0.05em 0.05em orange);
	text-decoration: none;
}