/* General CSS */
body {
    user-select: none;
    height: calc(100vh - 100px);
    -webkit-user-select: none;
    font-family: 'F37 Ginger' !important;
    background-repeat: no-repeat;
    background-size: cover;
}


/* In beta don't display the skill chips */
.badge {
    display: none !important;
}

/* Override skeuo defaults */
.btn-md,
.btn-md i {
    font-size: 1rem !important;
    border-radius: 2rem
}

input.form-control,
body,
.card.bg-primary,
.card.bg-light,
.btn-primary,
.btn-primary:hover,
.bg-soft,
.bg-primary {
    background-color: #ffffff !important
}

.btn-outline-primary {
    color: grey
}

.card {
    background-color: #fff;
}

.badge-info {
    color: orange;
}

.btn-secondary {
    background-color: rgb(236, 158, 13)
}

.btn-secondary:hover {
    background-color: rgb(253, 236, 205);
    color: #000000;
    border: 1px solid orange;
}

.panel.sign-up h3,
.panel.sign-up h1,
.panel.sign-in h3,
.panel.sign-in h1 {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.panel.sign-up h5.display-login {
    border: 1px solid orange;
    transition: .5s;
}

.panel.sign-up h5.display-login:hover {
    background-color: #f3b94c83;
    transform: scale(1.1);
}


h3.welcomeText {
    width: 100%;
    display: block;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 350px;
    transition: .5s;
}

.modal-content {
    background-color: #fff !important
}

.action.right {
    position: fixed;
    display: inline-block;
    top: 20px;
    right: 20px;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 5px 15px;
}

.action.right:hover {
    border: 1px solid orange;
}

.panel.questionnaire h3 {
    display: block;
    margin-top: 15px;
}

.questionnaire-questions {
    display: none;
}

.menu-tab {
    padding: 20px;
    background: rgba(255, 255, 255, 70%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.menu-tab h2 {
    display: block;
    margin: auto;
    text-align: center;
}

.btn-instagram {
    color: #ECF0F3;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-color: #f09433;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff
}

.btn-instagram:hover {
    color: #dc2743;
    background: #ffff;
    border-color: #ffffff;
}

.btn-instagram:focus,
.btn-instagram.focus {
    box-shadow: inset 0 1px 0 rgba(236, 240, 243, 0.15), 0 1px 1px rgba(38, 40, 51, 0.075), 0 0 0 0.0625rem rgba(86, 112, 167, 0.5);
}

.btn-instagram:not(:disabled):not(.disabled):active,
.btn-instagram:not(:disabled):not(.disabled).active,
.show>.btn-instagram.dropdown-toggle {
    color: #ECF0F3;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-color: #f09433;
}

.btn-instagram:not(:disabled):not(.disabled):active:focus,
.btn-instagram:not(:disabled):not(.disabled).active:focus,
.show>.btn-instagram.dropdown-toggle:focus {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF, 0 0 0 0.0625rem rgba(86, 112, 167, 0.5);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: orange;
    color: white;
}

.badge {
    box-shadow: none;
    text-transform: none !important;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 25px
}

.btn:active {
    background-color: orange !important;
    border-color: white !important
}

.popup.notification {
    display: none;
    position: fixed;
    margin: 20px 5%;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    background-color: #fbf6f8;
    transition: none;
    z-index: 99;
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.425));
}

.popup.notification i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 30px;
    background-color: #fefefe;
    color: orange;
    border-radius: 5px;
    padding: 2.5px;
    margin-right: 10px;
    float: left
}

.popup.notification h2 {
    padding-top: 2.5px;
}

.popup.notification p {
    display: inline-block;
    margin: 0 0 0 10px;
}