
.UserHero {
  margin: 50px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  vertical-align: middle;
  border-radius: .5em;
  color: white;
  transition: .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.UserHero .Icon {
  vertical-align: top;
}

.UserHeroContent {
  width: 100%;
  height: 100%;
  justify-content: left;
  border-radius: .5em;
}

.UserHero:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.UserHero h1 {
  padding: 0 25px;
  font-size: 50px;
  text-align: left;
}

.UserHero p {
  padding: 0 25px;
  max-width: 500px;  
  margin-bottom: 5px;  
  font-size: 20px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.UserHero p.caption {
  margin: 0; 
  font-size: 15px;
  margin-left: 32.5px;
}

.UserHero .UserHeroButton {
  border-radius: .5em;
  color: orange;
  background-color: white;
  padding: 5px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  margin-right: 25px;
  font-weight: 700;
  transition: .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.UserHero .UserHeroButton:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}


.UserHero .MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  float: right;
  margin: 15px;
}

.UserHero .UserHeroLink {
  display: inline-block;
}

@media screen and (max-width: 414px) {
  .UserHero {
    height: 400px;
  }
  
  .UserHeroContent {
    background: linear-gradient(180deg, rgba(241,152,32,1) 34%, rgba(255,255,255,0) 64%) !important;
  }
  
  .UserHero h1 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }

  .UserHero p {
    font-size: 16px;
  }

  .UserHero .UserHeroLink {
    display: block;
    margin: 0 auto;
    float: unset;
  }
}

.stamp {
  transform: rotate(12deg);
	color: #555;
	font-size: 3rem;
	font-weight: 700;
	border: 0.25rem solid #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
}

.is-nope {
  color: rgb(20, 20, 20);
  border: 0.5rem double rgb(41, 38, 38);
  transform: rotate(3deg);
	-webkit-mask-position: 2rem 3rem;
  font-size: 2rem;  
}

@media (prefers-color-scheme: dark) {
  .stamp {
    mix-blend-mode:lighten;
  }
  
  .is-nope {
    color : rgb(243, 243, 243);
    border: 0.5rem double rgb(233, 233, 233);
  }
}