import os
basedir = os.path.abspath(os.path.dirname(__file__))

class myo(object):
	APP_NAME = 'myo'
	APP_URL = 'https://myo-app.com'
	
	# Generate with python3 -c "import uuid; print(uuid.uuid4().hex)"
	SECRET_KEY = ''
	MAX_CONTENT_LENGTH = 16 * 1024 * 1024  # Max content (default: 16MB)
	APP_ROOT = basedir

	SIGNUP_CODES = {'croissant'}
	REGISTRATION_IS_OPEN = True

	MAIL_SERVER = 'mail.hover.com'
	MAIL_PORT = 587
	MAIL_USE_TLS = True
	MAIL_USE_SSL = False
	MAIL_DEBUG = False
	MAIL_USERNAME = 'noreply@.'
	MAIL_PASSWORD = '--'
	MAIL_DEFAULT_SENDER = 'noreply@'

	EXECUTOR_PROPAGATE_EXCEPTIONS = True
	EXECUTOR_TYPE = 'process'

	TS_SALT = ''
	TS_RECOVER_SALT = ''
	TS_MAX_AGE = 86400

	SQLALCHEMY_DATABASE_URI = ''
	SQLALCHEMY_TRACK_MODIFICATIONS = True
